@import url("https://fonts.googleapis.com/css?family=Nunito:400,600");

@font-face {
  font-family: 'Archicoco';
  src: url('../assets/fonts/Archicoco/Archicoco.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
